<header>
    <section id="header">
        <div id="secao-interna">
            <div id="esquerda">
                <img src="assets\img\Group 2.png" alt="copa" id="fifa"> 
            </div>
            
            <div id="listra-vermelha">
                <div id="bloco-azul">
                    <div id="bloco-verde">
                        <div id="nav-menu">
                            <a href="http://localhost:4200">Início</a>
                            <a href="http://localhost:4200/grupos">Grupos</a>
                            <a href="http://localhost:4200/estadios">Estádios</a>
                            <a href="http://localhost:4200/tela-video">Assistir</a>
                            <a href="http://localhost:4200/fale-conosco">Fale Conosco</a>
                        </div>
                    </div>
                </div>
            </div>

            <div id="direita">
                <img src="assets\img\Group 14.png" alt="copa" id="brasil">
            </div>
        </div>

    </section>
</header>