<header>
    <section id="header">
        <div id="secao-interna">
            <div id="esquerda">
                <img src="assets\img\Group 2.png" alt="copa" id="fifa"> 
            </div>
            
            <div id="listra-vermelha">
                <div id="bloco-azul">
                    <div id="bloco-verde">
                        <div id="nav-menu">
                            <span class="texto-menu" >Início</span>
                            <span class="texto-menu" >Grupos</span>
                            <span class="texto-menu" >Estádios</span>
                            <span class="texto-menu" >Fale Conosco</span>
                        </div>
                    </div>
                </div>
            </div>

            <div id="direita">
                <img src="assets\img\Group 14.png" alt="copa" id="brasil">
            </div>
        </div>

    </section>
</header>