<body>
    <section id="tela-inicial">
        <div id="largura">
            <img id="imagem" src="assets\img\Group 16.png">


            <div id="meio">
                <span id="bolinha-esquerda"></span> 
                <div id="bola-esquerda"></div>
                <span id="box-vermelho">COPA DO MUNDO KATAR 2022</span>
                <div id="bola-direita"></div> 
                <span id="bolinha-direita"></span>
            </div>

            <div id="final">TEMPO ATÉ O JOGO DO BRASIL:</div>
            <div id="tempo">Brasil eliminado :(</div>


        </div>
    </section>
</body>
